{% extends "::layout.html.twig" %}

{% block title %}
    Ajout - {{ parent() }}
{% endblock %}

{% block menu %}
    {% include "OCPlatformBundle::menu.html.twig" %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        {% for liste in list %}
                <div class="col-md-4">
                        <span>
                            <img style="width: auto; height: 15em; position: relative"
                                 class="photo" src="uploads/photo/{{ liste['image']}}">

                            </img>
                        </span>
                </div>
            </br>
        {% endfor %}
    </div>

{% block javascript %}
{{ parent() }}
{% endblock %}
{% endblock %}

